.backbutton_section {
    width:33%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
    color: #B4B4B4;
}
.backbutton_section span {
    margin:21px 11px 21px 21px !important;
}